<form class="ui stacked segment form" action="/travel/{{id}}/addcity" method="POST" enctype="multipart/form-data">
  <div class="three fields">
    <div class="field">
      <label>City</label>
      <input placeholder="City" type="text" name="city" required>
    </div>
    <div class="field">
      <label>type</label>
      <input placeholder="Type" type="text" name="type" required>
    </div>
     <div class="field">
      <label>Famous For</label>
      <input placeholder="Famous" type="text" name="popular" required>
    </div>
    <div class="field">
      <label>Rating</label>
      <input placeholder="Rating" type="text" name="rating"  required>
    </div>
    <div class="field">
      <label>Image</label>
      <input placeholder="Image" type="file" name="picture"  required>
    </div>
  </div>
  <button class="ui blue submit button">Add City</button>
</form>
