{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">

   <h2>About the Travel Destination App</h2>
   <p>
    all about the app
   </p>

<img src = "/map" class = "ui centered image">

</section>