{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">

   <h2>Travel Destination App Dashboard</h2>

{{#unless destinations}}
    <h3 class="ui message">
        Start adding your Destinations!
    </h3>
{{/unless}}
   
 {{#each destinations}}
 <section class="ui left aligned middle aligned scrolling segment">
   <h3 class="ui header">
       {{country}}
   </h3>
<a href="/travel/{{id}}"> View </a>
</section>
  {{/each}}

</section>