{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">

   <h2>Travel Destination App Dashboard</h2>
   
 {{#each destinations}}

 <section class="ui left aligned middle aligned scrolling segment">
   <h3 class="ui header">
       {{country}}
   </h3>
 </section>

 {{/each}}
</section>