{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">

   <h2>Travel Destination App Dashboard</h2>
   
 {{#each destinations}}

 <section class="ui left aligned middle aligned scrolling segment">
   <h3 class="ui header">
       {{country}}
   </h3>

   {{#if destinations}}

   <table class="ui unstackable striped table">
    <thead>
        <tr>
            <th>City</th>
            <th>Type</th>
            <th>Famous for</th>
        </tr>
    </thead>
    <tbody>
        {{#each destinations}}
        <tr>
            <td>
                {{city}}
            </td>
            <td>
                {{type}}
            </td>
            <td>
                {{popular}}
            </td>
        </tr>
        {{/each}}
    </tbody>
   </table>

   {{/if}}

 </section>

 {{/each}}
</section>