{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">

   <h2>Travel Destination App Dashboard</h2>
   <p>
    Travel Destinations will be displayed here
   </p>


</section>