{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Welcome to the Travel Destinations App!</h2>

  <p>
    This app allows users to view a collection of Travel Destinations.
  </p>
  <p>
    Find the perfect destination for your 2026 Holiday!
  </p>

  <img src = "/plane.jpg" class = "ui centered image">


</section>
