{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Welcome to the Travel Destinations App!</h2>

  <p>
    This app will allow users to create and maintain a collection of Travel Destinations.
    You can use this start view (along with the matching start controller and start route) as the starting point for your "welcome" view (i.e. your app's homepage). Read the assignment spec to see what other views you should add.
  </p>

  <img src = "/plane.jpg" class = "ui centered image">

<div class="ui five statistics" style="margin-top: 1em;">

  <div class="statistic">
    <div class="value">
      <i class="music icon"></i>
    </div>
    <div class="label">
        App Title: <br>
        {{info.appTitle}}
    </div>
  </div>


<!-- other statistics will go here -->

</div>

</section>
