{{> menu}}

{{#with singleDestination}}

<section class="ui center aligned segment">

    <h2 class="ui header">
        {{country}}
    </h2>

    {{>listdestinations}}

</section>

 <section class="ui center aligned middle aligned segment">

    {{> addcity}}

  </section>

{{/with}}